{% extends "layout.html.twig" %}

{% block content %}	

<link rel="stylesheet" href="{{ asset ('assets/css/inscription.css') }}">
	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background: radial-gradient(circle, rgba(147,203,85,1) 78%, rgba(134,193,133,1) 100%);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Inscription</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
    
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card1">   
        <form method="post" class="box1">
          {{ form_start(registrationForm) }}
           {% for flashError in app.flashes('verify_email_error') %}
            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
           {% endfor %}
          <p class="text-muted">Veuillez saisir vos données</p>
          <input type="text" name={{ registrationForm.nom.vars.full_name }} placeholder="Nom" />
          {{ form_errors(registrationForm.nom) }}
          {% do registrationForm.nom.setRendered %}
          <input type="text" name={{ registrationForm.prenom.vars.full_name }} placeholder="Prénom" />
         {{ form_errors(registrationForm.prenom) }}
          {% do registrationForm.prenom.setRendered %}
           <input type="text" name={{ registrationForm.nomProducteur.vars.full_name }} placeholder="Nom producteur" />
          {{ form_errors(registrationForm.nomProducteur) }}
          {% do registrationForm.nomProducteur.setRendered %}
           <input type="text" name={{ registrationForm.numeroProducteur.vars.full_name }} placeholder="Numéro producteur" />
          {{ form_errors(registrationForm.numeroProducteur) }}
          {% do registrationForm.numeroProducteur.setRendered %}
          <input type="text" name={{ registrationForm.rue.vars.full_name }}  placeholder="Rue" />
           {{ form_errors(registrationForm.rue) }}
          {% do registrationForm.rue.setRendered %}
          <input type="text" name={{ registrationForm.cp.vars.full_name }}  placeholder="CP" />
           {{ form_errors(registrationForm.cp) }}
          {% do registrationForm.cp.setRendered %}
          <input type="text" name={{ registrationForm.ville.vars.full_name }}  placeholder="Ville" />
           {{ form_errors(registrationForm.ville) }}
          {% do registrationForm.ville.setRendered %}
          <input type="text" name={{ registrationForm.email.vars.full_name }}  placeholder="Email" />
           {{ form_errors(registrationForm.email) }}
          {% do registrationForm.email.setRendered %}
          <input type="password" name={{ registrationForm.plainPassword.vars.full_name }}  placeholder="Mot de passe" />
           {{ form_errors(registrationForm.plainPassword) }}
          {% do registrationForm.plainPassword.setRendered %}
          {{ form_row(registrationForm.agreeTerms) }}
          <a class="forgot text-muted" href="{{ path ('app_login') }}">Vous avez déjà un compte ?</a>
          <input type="submit"  value="S'inscrire" href="" /> 
          <div class="col-md-12">
          {{ form_end(registrationForm) }}
          </div>
        </form>
        </br>
        <a href="{{ path ('accueilInscription') }}">Retour</a>
      </div>
    </div>
  </div>
</div> 
{% endblock %}